<div class="container">
	<form class="form-signin" role="form">
		<h1>Identification</h1>

		<%= form_for(:session, :url => sessions_path, :html => { :class => 'form-signin', :role => 'form' }) do |f| %>

		<div class="field">
			<%= f.text_field :email, :class=>"form-control", :placeholder => "Adresse e-mail" %>
		</div>
		<div class="field">
			<%= f.password_field :password, :class=>"form-control", :placeholder => "Mot de passe" %>
		</div>
		<div class="actions">
			<%= f.submit "S'identifier ", :class=>"btn btn-lg btn-primary btn-block" %>
		</div>
		<div>
			<br/>
			<br/>
			<p>
				Pas encore inscrit ? <%= link_to "S'inscrire !", signup_path %>
			</p>
			<p>
				Connexion avec votre compte Facebook : <%= link_to 'Login with Facebook', '/auth/facebook/' %>
			</p>
		</div>
		<% end %>
	</form>
</div>
