<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @badge.label %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @badge.locked %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
