<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="center">
  <div class="control-group">
    <div class="control-label">
      Prenom
    </div>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      Nom
    </div>
    <div class="controls">
      <%= f.text_field :lastName, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
   <div class="control-group">
    <div class="control-label">
      Confirmation e-mail
    </div>
    <div class="controls">
      <%= f.text_field :email_confirmation, :class => 'text_field' %>
    </div>
  </div>
 <!--<div class="control-group">
    <%= f.label :money, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :money, :class => 'text_field' %>
    </div>
  </div>-->
  <div class="control-group">
    <div class="control-label">
      Mot de passe
    </div>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
   <div class="control-group">
    <div id="confirm_mdp" class="control-label">
      Confirmation mot de passe
    </div>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>
 <!--
  <div class="control-group">
    <%= f.label :biography, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :biography, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isPremium, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :isPremium, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :level_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :success_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :success_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_id, :class => 'text_field' %>
    </div>
  </div>
  -->
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
  </div>
<% end %>
