<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>Impossible de creer cet utilisateur :</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Prénom :<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Nom :<br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    E-mail<br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    Confirmer votre E-mail<br>
    <%= f.text_field :email_confirmation %>
  </div
  ><!--<div class="field">
    <%= f.label :money %><br>
    <%= f.text_field :money %>
  </div>-->
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    Confirmer votre password <br>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <!--
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
  <div class="field">
    <%= f.label :isPremium %><br>
    <%= f.check_box :isPremium %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br>
    <%= f.text_field :level_id %>
  </div>
  <div class="field">
    <%= f.label :success_id %><br>
    <%= f.text_field :success_id %>
  </div>
  <div class="field">
    <%= f.label :address_id %><br>
    <%= f.text_field :address_id %>
  </div>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
