
<% content_for :head do %>
	<%= stylesheet_link_tag "hobbiesprofil" %>
<% end %>



<div class="col-lg-6">
	<div style="margin-top:20px;" class="currenthobbies">
		<span class="col-lg-offset-2"></span>
		<% if @user.hobbies.empty? %>
			<span <% if @user==current_user %>class="simili_bip" id="currenthobbies"<%end%>>Aucun centre d'interêt renseigné</span>
		<%else%>
			<% if @user==current_user %><span style="cursor:pointer;" class="fa fa-pencil pull-right" title="editer les centres d'interet"  id="currenthobbies"></span><%end%>
			<% @user.hobbies.each do |h| %>
				<a href="/hobbies/<%=h.id%>" class="tag"><%=h.label%></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% end %>
		<%end%>
	</div>
	<% if @user==current_user %>
		<div id="hobbiesedit" class="nofloat" style="display:none;margin-top:20px;">
		<%= form_for @user, url: {action: "update_hobbies"}, remote:true, method: :post do |f| %>
			<%= f.collection_check_boxes :hobby_ids, Hobby.all, :id, :label %>
			<%= f.submit 'Valider', class:'btn btn-success' %>
		<% end %>
		</div>
	<%end%>
</div>