<%- model_class = User -%>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Prévisualisation</h4>
      </div>
      <div class="modal-body text-center">
      	<ul class="nav">
			<li><img src="#" id="imgtopreview" alt="avatar" onerror="this.src='/assets/noavatar.png'"/></li>
		</ul>
      </div>
      <div class="modal-footer">
        <%= form_for @user, method: :post, :url => url_for(:controller => 'users', :action => 'upload_avatar') do |f| %>
		  <%= f.file_field :avatar %>
		  <%= f.submit 'Valider', :class => 'btn btn-primary' %>
		<% end %>
      </div>
    </div>
  </div>
</div>

<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="sidebar-search">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" placeholder="Rechercher un ami">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button> </span>
				</div>
				<!-- /input-group -->
			</li>
			<li>
				
			</li>
			<li>
				<a id="avatarcontainer">
				<span class="text-center" <%if @user==current_user%>id="currentavatar"<%end%>>
					<% if @user.avatar.nil? %>
						Aucune image
					<%else %>
						<%=image_tag "avatars/"+@user.avatar, :class => "style_image" %>
					<%end%>
				</span>
				</a>
			</li>
			<li>
				<a> <%= @user.name %> </a>
			</li>
			<li>
				<a> <%= @user.lastName %> </a>
			</li>
			<li>
				<% if current_user == @user %>
				<a>
				<div class="simili_bip" id="currentbirthday">
					<% if @user.birthday.nil? %>
						Âge non renseigné
					<% else %>
						<%= @user.birthday_age %>
						<% if @user.birthday_age>1 %>
							ans
						<% else %>
							an
						<% end %>
					<% end %>
				</div>
				<div id="birthdayedit" style="display:none">
					<%= form_for @user, remote:true do |f| %>
					<%= f.date_select :birthday, :order => [:day, :month, :year], :use_month_names =>
            ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
              'Aout', 'Septembre', 'Octobre', 'Novembre','Decembre'],
            :start_year => Time.now.year-1, :end_year => 1920 %>
					<%= f.submit 'Valider' %>
					<% end %>
				</div> </a>
				<% else %>
					<% if @user.birthday.nil? %>
						<a> Âge non renseigné </a>
					<% else %>
						<a> 
							<%= @user.birthday_age %>
							<% if @user.birthday_age>1 %>
								ans
							<% else %>
								an
							<% end %> 
						</a>
					<% end %>
				<% end %>
			</li>

			<% if current_user == @user %>
			<li>
				<a> <%= best_in_place_if current_user==@user, @user, :phone, :type => :input, :nil => "XXXXXXXX" %> </a>
			</li>

			<li>
				<a> <%= @user.email %> </a>
			</li>

			<li>
				<a> <%= best_in_place_if current_user==@user, @user.address, :label, :type => :input, :nil => "Adresse non renseignée" %> </a>
			</li>

			<% end %>

			<li>
				<a> <% if @user.isPremium? %>
				Membre premium
				<% else %>
				N'est pas premium
				<%end%> </a>
			</li>
			<li> 
					<a> Succès <%= @user.success_id %> </a>
			</li>		
			<li> 
					<a> Level <%= @user.level.levelUser %> </a>
			<li>
				<a> Expérience </a>
				<div class="progress progress-striped">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= @user.level.XPUser%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.level.XPUser%>%">
						<span class="sr-only"><%= @user.level.XPUser%>% Complete</span>
					</div>
				</div>
			</li>

		</ul>
		<!-- /#side-menu -->
	</div>
	<!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->


