  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
       <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%=@user.name%> <%=@user.lastName%></h2>
                    <p>
                    	<strong>A son sujet: </strong>
                    	<span <% if @user==current_user %>class="simili_bip" id="currentbiography"<%end%>>
                    		<% if @user.biography.nil? %>Non renseigné<% else %><%= @user.biography %><% end %>
                    	</span>
                    	<% if @user==current_user %>
	                    	<div id="biographyedit" style="display:none;">
								<%= form_for @user, remote: true do |f| %>
								  <%= f.text_area :biography, size:"50x6", maxlength:350, class:'form-control' %>
								  <%= f.submit 'Mettre à jour', class:'btn btn-success' %>
								<% end %>
							</div>
						<%end%>
                    </p>
                    <p><strong>Hobbies: </strong>
                    	<% if @user.hobbies.empty? %>
							<div <% if @user==current_user %>class="simili_bip currenthobbies" <%end%>>
								Aucun centre d'interêt renseigné
							</div>
						<% else %>
							<% if @user==current_user %><span style="cursor:pointer;" class="glyphicon glyphicon-pencil pull-right currenthobbies" title="editer les centres d'interet"></span><%end%>
							<% @user.hobbies.each do |h| %>
								<span class="currenthobbies tags"><%=h.label%></span>
							<% end %>
						<% end %>
						<% if @user==current_user %>
							<div id="hobbiesedit" style="display:none">
								<%= form_for @user, url: {action: "update_hobbies"}, remote:true, method: :post do |f| %>
									<%= f.collection_check_boxes :hobby_ids, Hobby.all, :id, :label %>
									<%= f.submit 'Valider', class:'btn btn-success' %>
								<% end %>
							</div>
						<%end%>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                    	<span <%if @user==current_user && !@user.encrypted_password.nil? %>id="currentavatar"<%end%>>
	                    	<% if @user.encrypted_password.nil? %>
								<img src=<%=@user.avatar + "?type=square" %> class="img-circle-cat" alt="some_text"/>
							<% elsif @user.avatar.nil? %>
								<%=image_tag "noavatar.png", :class => "img-circle-cat" %>
							<% else %>
								<%=image_tag "avatars/"+@user.avatar, :class => "img-circle-cat" %>
							<%end%>
						</span>
                        <figcaption class="ratings">
	                        <p>
	                            <span class="fa fa-star"></span>
	                            <span class="fa fa-star"></span>
	                            <span class="fa fa-star"></span>
	                            <span class="fa fa-star"></span>
	                            <span class="fa fa-star-o"></span>
	                        </p>
	                        <p>Niveau <%=@user.level.levelUser%>
	                        </p>
			                <div class="progress">
			                	<div data-percentage="0%" style="width: <%=@user.level.XPUser%>%;" class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			                </div>
                       </figcaption>
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 2 </strong></h2>                    
                    <p><small>Service(s) posté(s)</small></p>
                    <button class="btn btn-primary btn-block"><span class="fa fa-phone"></span> Voir services </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>70</strong></h2>                    
                    <p><small>propositions effectués</small></p>
                    <button class="btn btn-primary btn-block"><span class="fa fa-comment"></span> Voir demandes</button>
                </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>2</strong></h2>                    
                    <p><small>badges</small></p>
                    <button class="btn btn-primary btn-block"><span class="fa fa-chevron-circle-up"></span> Voir badges </button>
                </div>
            </div>
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 12 </strong></h2>                    
                    <p><small>Followers</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Suivre </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>30</strong></h2>                    
                    <p><small>following</small></p>
                    <button class="btn btn-primary btn-block"><span class="fa fa-users"></span> Visualiser</button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>34</strong></h2>                    
                    <p><small>HP possédé(s)</small></p>
                    <div class="btn-group dropup btn-block">
                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Envoyer un message </a></li>
                        <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Signaler ce membre</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                      </ul>
                    </div>
                </div>
            </div>
       </div>                 
    </div>
  </div>
  


<div class="modal fade" id="myModalAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Prévisualisation</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
	      	<div class="col-lg-4 col-lg-offset-5">
				<img src="#" class="img-circle-cat" id="imgtopreview" alt="avatar" onerror="this.src='/assets/noavatar.png'" />
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <%= form_for @user, method: :post, :url => url_for(:controller => 'users', :action => 'upload_avatar') do |f| %>
		  <%= f.file_field :avatar %>
		  <%= f.submit 'Valider', :class => 'btn btn-primary' %>
		<% end %>
      </div>
    </div>
  </div>
</div>