<% content_for :head do %>
	<%= stylesheet_link_tag 'timeline' %>
<% end %>
<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-clock-o fa-fw"></i> Timeline
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<ul class="timeline">
						
										          	
				          	<% lesActivites = Array.new %>
				          	
				          	<%  @user.following.each do |follow| %>
				          	
				          		<% lesActivites.concat(Activity.where(user: User.find(follow.id))) %>
							<% end %>

							<% if lesActivites.empty?%>
							 <p>Il n'y aucune activité à afficher</p>
							<%end%>
							
							<% lesActivites.sort_by! {|activite| activite.date}.reverse! %>
							<% i = 0 %>
							<% lesActivites.each do |activite| %>
							
							<% if (i%2 == 1) %>
								<li>
							<%else %>
								<li class="timeline-inverted">	
							<%end%>
							<% i = i+1 %>
							
									<div class="timeline-badge">
										<i class="fa fa-check"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<p>
												<small class="text-muted"><i class="fa fa-time"></i>
													<% t1 = Time.parse(activite.created_at.in_time_zone("Paris").strftime "%d-%m-%Y %H:%M:%S")   %>
													<% t2 = Time.parse(Time.now.strftime "%d-%m-%Y %H:%M:%S")  %>

													<% diffJour = (t2- t1)  / 86400 %>
													<% diffHeure = (t2- t1)  / 3600 %>
													<% diffMinute = (t2- t1)  / 60 %>
													<% if ( diffJour > 1 )  %>
														Il y a <%= diffJour.to_i %> jour(s)
													<% elsif (diffHeure > 1)%>
														Il y a <%= diffHeure.to_i %> heure(s)
													<% elsif (diffMinute > 1)%>
														Il y a <%= diffMinute.to_i %> minute(s)
													<%else%>
														Il y a <%= (t2-t1).to_i %> seconde(s)
													<%end%>
												</small>
											</p>
										</div>
										<div class="timeline-body">
											<p>
												<%= raw activite.label %>
											</p>
										</div>
									</div>
								</li>
								
							<%end%>
						
						
					</ul>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->