<% content_for :head do %>
	<%= stylesheet_link_tag 'timeline' %>
<% end %>
<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-clock-o fa-fw"></i> Timeline
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<ul class="timeline">
						
										          	
				          	<% lesActivites = Array.new %>
				          	
				          	<%  current_user.following.each do |follow| %>
				          	
				          		<% lesActivites.concat(Activity.where(user: User.find(follow.id))) %>
							<% end %>

							
							<% lesActivites.sort_by {|activite| activite.date} %>
							
							<% lesActivites.each do |activite| %>
							<% i = 0 %>
							<% if (i%2 == 1) %>
								<li>
							<%else %>
								<li class="timeline-inverted">	
							<%end%>
									<div class="timeline-badge">
										<i class="fa fa-check"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<h4 class="timeline-title">Test </h4>
											<p>
												<small class="text-muted"><i class="fa fa-time"></i>
													<% t1 = Time.parse(activite.created_at.strftime "%d-%m-%Y %H:%M:%S")   %>
													<%  t2 = Time.parse(Time.now.strftime "%d-%m-%Y %H:%M:%S")  %>
													<% diffJour = (t2- t1)  / 86400 %>
													<% diffHeure = (t2- t1)  / 3600 %>
													<% diffMinute = (t2- t1)  / 60 %>
													<% if ( diffJour > 1 )  %>
														Il y a <%= diffJour.to_i %> jour(s)
													<% elsif (diffHeure > 1)%>
														Il y a <%= diffHeure.to_i %> heure(s)
													<% elsif (diffMinute > 1)%>
														Il y a <%= diffMinute.to_i %> minute(s)
													<%else%>
														Il y a <%= (t2-t1).to_i %> seconde(s)
													<%end%>
												</small>
											</p>
										</div>
										<div class="timeline-body">
											<p>
												<%= activite.label %>
											</p>
										</div>
									</div>
								</li>
								<% i = i+1 %>
							<%end%>
						
						<li>
							<div class="timeline-badge">
								<i class="fa fa-check"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">C'est très moche</h4>
									<p>
										<small class="text-muted"><i class="fa fa-time"></i> Claire 11 hours ago via Twitter</small>
									</p>
								</div>
								<div class="timeline-body">
									<p>
										J'adore les développeurs de Syra, mais cette Timeline est useless et inexploitable.
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-badge warning">
								<i class="fa fa-credit-card"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Réponse de Xavier</h4>
								</div>
								<div class="timeline-body">
									<p>
										Mais si je te chope, tu vas passer un mauvais quart d'heure.
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-badge danger">
								<i class="fa fa-credit-card"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Timeline Event</h4>
								</div>
								<div class="timeline-body">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Timeline Event</h4>
								</div>
								<div class="timeline-body">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-badge info">
								<i class="fa fa-save"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Timeline Event</h4>
								</div>
								<div class="timeline-body">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
									</p>
									<hr>
									<div class="btn-group">
										<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-cog"></i>
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a href="#">Action</a>
											</li>
											<li>
												<a href="#">Another action</a>
											</li>
											<li>
												<a href="#">Something else here</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">Separated link</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Timeline Event</h4>
								</div>
								<div class="timeline-body">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-badge success">
								<i class="fa fa-thumbs-up"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Timeline Event</h4>
								</div>
								<div class="timeline-body">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->