<%- model_class = User -%>
<div class="page-header">
  <h1>Administration des utilisateurs</h1>
</div>
<div >
	<div>
		<%= link_to 'Créer', new_user_path, :class => 'btn btn-primary' %>
		<a href='/administrator' class='btn btn-default'>Retour à l'administration</a>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped tablesorter">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Pr&eacute;nom</th>
		      <th>Nom</th>
		      <th>Email</th>
		      <th>Solde</th>
		      <th>Biographie</th>
		      <th>Premium</th>
		      <th>Admin</th>
		      <th>Niveau</th>
		      <th>Adresse</th>
		      <th>Date cr&eacute;ation</th>
		      <th>Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% if not @users == nil %>
		     <%  @users.each do |user| %>
		      <tr>
		        <td><%= link_to user.id, user_path(user) %></td>
		        <td><%= link_to user.name, user_path(user) %></td>
		        <td><%= link_to user.lastName, user_path(user) %></td>
		        <td><%= link_to user.email, user_path(user) %></td>
		        <td><%= user.money %></td>
		        <td><%= user.biography %></td>
		        <td><% if user.isPremium? %>Oui<% else %>Non<% end %></td>
		        <td><% if user.isAdmin? %>Oui<% else %>Non<% end %></td>
		        <td>
			        <% if user.level.nil? %>
						 Aucune 
					<% else %>
						<a href="<%= level_path(user.level) %>">
							<%= user.level.levelUser %>
						</a>
			        <% end %>
		        </td>
		        <td>
			        <% if user.address.nil?%>
						 Aucune 
					<% else %>
						<a href="<%= address_path(user.address) %>">
							<!-- [<%= user.address.x %>:<%= user.address.y %>]<br/> -->
							<%= user.address.label %>
						</a>
			        <% end %>
		        </td>
		        <td><%= user.created_at.to_formatted_s(:day_month_year_time) %></td>
		        <td>
		          <%= link_to 'Editer',edit_user_path(user), :class => 'btn btn-mini btn-warning' %>
		          <%= link_to 'Supprimer',
		                      user_path(user),
		                      :method => :delete,
		                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sûr?')) },
		                      :class => 'btn btn-mini btn-danger' %>
		        </td>
		      </tr>
		    <% end %>
		  <% end %>
		  </tbody>
		</table>
	</div>
</div>
