<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="input-group custom-search-form">
      <%= f.text_field :name_or_lastName_cont, :placeholder =>"indiquez un nom ou un prénom", :class=>"form-control"%>
      <span class="input-group-btn">
        <%= button_tag( :class =>"btn btn-default") do %>
            <i class="fa fa-search"></i>
        <% end %>
      </span>
      </div>
    </div>
  </div>
<% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th>Premium</th>
      <th><%= model_class.human_attribute_name(:level_id) %></th>
      <th>Adresse </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if not @users == nil %>
     <%  @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><% if user.isPremium == false %> Non <% else %> Oui <% end %> </td>
        <td><%= user.level.levelUser %></td>
        <td><%= user.address.label %></td>
        <td>
          <% if signed_in? %>
            <% if user.email != current_user.email then %>
              <% if user.followedBy?(current_user) == nil %>
               <%= link_to 'Suivre',
                 follow_user_path(user, :user => user), :class => 'btn btn-primary' %>
              <% else %>
              	<%= link_to 'Ne plus suivre',
                 unfollow_user_path(user, :user => user), :class => 'btn btn-danger' %>
              <% end %>
              <%= link_to 'Voir',
                      user_path(user), :class => 'btn btn-info' %>
            <% else %>
              <%= link_to 'Voir',
                      user_path(user), :class => 'btn btn-info' %>
              <%= link_to 'Editer',
                      edit_user_path(user), :class => 'btn btn-warning' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>