<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= search_form_for @q do |f| %>

  <label> Prénom </label>
  <%= f.text_field :name_cont %>
  <label> Nom </label>
  <%= f.text_field :lastName_cont %>
  <%= f.submit %>
<% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:lastName) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:money) %></th>
      <th><%= model_class.human_attribute_name(:password) %></th>
      <th><%= model_class.human_attribute_name(:biography) %></th>
      <th><%= model_class.human_attribute_name(:isPremium) %></th>
      <th><%= model_class.human_attribute_name(:level_id) %></th>
      <th><%= model_class.human_attribute_name(:success_id) %></th>
      <th><%= model_class.human_attribute_name(:address_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if not @users == nil %>
     <%  @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><%= user.money %></td>
        <td><%= user.password %></td>
        <td><%= user.biography %></td>
        <td><%= user.isPremium %></td>
        <td><%= user.level_id %></td>
        <td><%= user.success_id %></td>
        <td><%= user.address_id %></td>
        <td><%=l user.created_at %></td>
        <td>
          <% if signed_in? %>
            <% if user.email != @current_user.email then %>
              <%= form_for user, url: {action: "follow"}, method: :get do |f| %>
                <% user %>
                <%= f.submit 'ajouter en ami' %>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to 'Voir',
                      user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Editer',
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Supprimer',
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>
