<%- model_class = User -%>
<div class="page-header">
  <h1>Profil</h1>
</div>

<dl class="dl-horizontal" style="float : left">
  <dt><strong><%= model_class.human_attribute_name("Prénom") %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name("Nom") %>:</strong></dt>
  <dd><%= @user.lastName %></dd>
  <dt><strong><%= model_class.human_attribute_name("Age") %>:</strong></dt>
  <% if current_user == @user %>
  	<dd>
  		<div id="currentbirthday">
  			<% if @user.birthday.nil? %>Non renseigné<% else %><%= @user.birthday_age %>ans<% end %>
  		</div>
  		<div id="birthdayedit" style="display:none">
  		<%= form_for @user do |f| %>
			<%= f.date_select :birthday, :order => [:day, :month, :year], :use_month_names =>
			['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
				'Aout', 'Septembre', 'Octobre', 'Novembre','Decembre'],
				:start_year => Time.now.year-1, :end_year => 1920 %>
			<%= f.submit 'Valider' %>
		<% end %>
		</div>
	</dd>
  <% else %>
  	<% if @user.birthday.nil? %><dd>Non renseigné</dd><% else %><dd><%= @user.birthday_age %>ans</dd><% end %>
  <% end %>
  <% if current_user == @user %>
	  <dt><strong><%= model_class.human_attribute_name("Téléphone") %>:</strong></dt>
	  <dd><%= best_in_place_if current_user==@user, @user, :phone, :type => :input, :nil => "XXXXXXXX" %></dd>
	  <dt><strong><%= model_class.human_attribute_name("Email") %>:</strong></dt>
	  <dd><%= @user.email %></dd>
	  <dt><strong><%= model_class.human_attribute_name("Adresse") %>:</strong></dt>
	  <dd><%= best_in_place_if current_user==@user, @user, :address, :type => :input, :nil => "Non renseignée" %></dd>

  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:isPremium) %>:</strong></dt>
  <dd><%= @user.isPremium %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level_id) %>:</strong></dt>
  <dd><%= @user.level_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:success_id) %>:</strong></dt>
  <dd><%= @user.success_id %></dd>
</dl>

<div>
  <strong>Biographie</strong>
    <% if @user == current_user %>
		<div><%= best_in_place_if current_user==@user, @user, :biography, :type => :textarea, :nil => "Aucune biographie" %></div>
	<% else %>
		<div><% if @user.biography.nil? %>Non renseignée<% else %>@user.biography<% end %></div>
	<% end %>
</div>

<div>
 	<strong>Hobbies</strong></br>
	<!-- affichage classique -->
	<div <% if current_user == @user %>id="currenthobbies" <% end %> >
		<% if @user.hobbies.size == 0 %> Aucun hobby <% end %>
 		<% @user.hobbies.each do |hobby| %>
 			<span><%= hobby.label %></span>
 		<% end %>
	</div>
	<% if current_user == @user %>
		 <!-- mode edition -->
		<div id="hobbiesedit" style="display:none">
			<%= form_for @user, url: {action: "update_hobbies"}, html: {id: "form_edit_hobbies"}, method: :get do |f| %>
				<%= f.collection_check_boxes :hobby_ids, Hobby.all, :id, :label %>
				<%= f.submit 'Valider' %>
			<% end %>
		</div>
	<% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Les utilisateurs que je suis (follow)</td>
    </tr>
  </thead>
    <tbody>
    <%  @user.following.each do |follow| %>
        <% username = follow.name + ' ' + follow.lastName %>
        <td><%= link_to username, user_path(follow) %></td>
     </tr>
   <%end %>
   </tbody>
</table>
<table class="table table-hover">
  <thead>
  <tr>
    <% if current_user == @user %>
      <td> Les utilisateurs qui me suivent </td>
    <% else %>
      <td> Les utilisateurs qui le suivent </td>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <%  @user.follower.each do |follow| %>
    <tr>
      <% username = follow.name + ' ' + follow.lastName %>
        <td><%= link_to username, user_path(follow) %></td>
     </tr>
    <%end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <td> Les Services que je propose </td>
    </tr>
  </thead>
  <tbody>
    <% @user.services.each do |service| %>
      <tr>
        <td> <%= service.title %> </td>
        <td> <%= service.id %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <td> Mes propositions </td>
    </tr>
  </thead>
  <tbody>
    <% @user.propositions.each do |proposition| %>
      <tr>
        <td> <%= proposition.id %> </td>
        <td> <%= proposition.comment %> </td>
        <td> <%= User.find(proposition.user_id) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if false %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>

