
<div class="page-header">
  <h1>Profil</h1>
</div>

<%= render :partial => 'profilinfos' %>

<div>
  <strong>Biographie</strong>
    <% if @user == current_user %>
		<div><%= best_in_place_if current_user==@user, @user, :biography, :type => :textarea, :nil => "Aucune biographie" %></div>
	<% else %>
		<div><% if @user.biography.nil? %>Non renseignée<% else %><%=@user.biography%><% end %></div>
	<% end %>
</div>

<div>
 	<strong>Hobbies</strong></br>
	<!-- affichage classique -->
	<div <% if current_user == @user %>id="currenthobbies" <% end %> >
		<% if @user.hobbies.size == 0 %> Aucun hobby <% end %>
 		<% @user.hobbies.each do |hobby| %>
 			<span><%= hobby.label %></span>
 		<% end %>
	</div>
	<% if current_user == @user %>
		 <!-- mode edition -->
		<div id="hobbiesedit" style="display:none">
			<%= form_for @user, url: {action: "update_hobbies"}, html: {id: "form_edit_hobbies"}, method: :get do |f| %>
				<%= f.collection_check_boxes :hobby_ids, Hobby.all, :id, :label %>
				<%= f.submit 'Valider' %>
			<% end %>
		</div>
	<% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
   	<% if current_user == @user %>
      <td> Les utilisateurs que je suis (follow) </td>
    <% else %>
      <td> Les utilisateurs que <%= @user.name %> suit </td>
    <% end %>
    </tr>
  </thead>
    <tbody>
    <%  @user.following.each do |follow| %>
        <% username = follow.name + ' ' + follow.lastName %>
        <td><%= link_to username, user_path(follow) %></td>
     </tr>
   <%end %>
   </tbody>
</table>
<table class="table table-hover">
  <thead>
  <tr>
    <% if current_user == @user %>
      <td> Les utilisateurs qui me suivent </td>
    <% else %>
      <td> Les utilisateurs qui le suivent </td>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <%  @user.follower.each do |follow| %>
    <tr>
      <% username = follow.name + ' ' + follow.lastName %>
        <td><%= link_to username, user_path(follow) %></td>
     </tr>
    <%end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
   	<% if current_user == @user %>
      <td> Les services que je propose </td>
    <% else %>
      <td> Les services que <%= @user.name %> propose </td>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @user.services.each do |service| %>
      <tr>
        <td> <%= link_to service.title, service_path(service) %> </td>
        <td> <%= service.id %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <td> Mes propositions (masquer cette partie pour les autres?)</td>
    </tr>
  </thead>
  <tbody>
    <% @user.propositions.each do |proposition| %>
      <tr>
        <td> <%= proposition.id %> </td>
        <td> <%= link_to proposition.comment, proposition_path(proposition) %> </td>
        <td> <%= link_to User.find(proposition.user_id).name,user_path(User.find(proposition.user_id)) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if false %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>

