<%- model_class = User -%>
<div class="page-header">
  <h1>Profil</h1>
</div>

<dl class="dl-horizontal" style="float : left">
  <dt><strong><%= model_class.human_attribute_name("Nom") %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name("Prénom") %>:</strong></dt>
  <dd><%= @user.lastName %></dd>
  <dt><strong><%= model_class.human_attribute_name("Age") %>:</strong></dt>
 <dd><%= best_in_place @user, :age, :type => :input, :nil => "Non renseigné" %></dd>
  <% if current_user == @user %>
	  <dt><strong><%= model_class.human_attribute_name("Téléphone") %>:</strong></dt>
	  <dd><%= best_in_place @user, :phone, :type => :input, :nil => "Non renseigné" %></dd>
	  <dt><strong><%= model_class.human_attribute_name("Email") %>:</strong></dt>
	  <dd><%= @user.email %></dd>
	  <dt><strong><%= model_class.human_attribute_name("Adresse") %>:</strong></dt>
	  <% if @user.address.nil? %>
	  	<dd> Non renseignée  </dd>
	  <% else %>
		<dd><%= @user.address.number %> <%= @user.address.street %> <%= @user.address.postalCode %> <%= @user.address.town %></dd>
	  <% end %>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:isPremium) %>:</strong></dt>
  <dd><%= @user.isPremium %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level_id) %>:</strong></dt>
  <dd><%= @user.level_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:success_id) %>:</strong></dt>
  <dd><%= @user.success_id %></dd>
</dl>


<div>
  <strong>Biographie</strong>
	<div><%= best_in_place @user, :biography, :type => :textarea, :nil => "Aucune biographie" %></div>
</div>

<div>
	<div id="hobbiesconsult">
 	<strong>Hobbies</strong></br>
 		<div id="currenthobbies">
 		<!-- affichage classique -->
	 		<% @user.hobbies.each do |hobby| %>
	 			<span><%= hobby.label %></span>
	 		<% end %>
		</div>
	</div>
	<% if current_user == @user %>
		<%= button_to_function "Editer", "toggleModeHobbies()", id: "buttonToggle" %>
		 <!-- mode edition -->
		<div id="hobbiesedit" style="display:none">
			<%= form_for @user, url: {action: "update_hobbies"}, html: {id: "form_edit_hobbies"}, method: :get do |f| %>
				<%= f.collection_check_boxes :hobby_ids, Hobby.all, :id, :label %>
				<%= f.submit 'Valider' %>
			<% end %>
		</div>
	<% end %>
	
	
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>Les utilisateurs que je suis (follow)</td>
    </tr>
    <%  @user.following.each do |follow| %>
      <tr>
        <td><%= follow.name %></td>
        <td><%= follow.lastName %></td>
     </tr>
   <%end %>
  <tr>
    <% if current_user == @user %>
      <td> Les utilisateurs qui me suivent </td>
    <% else %>
      <td> Les utilisateurs qui le suivent </td>
    <% end %>
  </tr>
  <%  @user.follower.each do |follow| %>
      <tr>
        <td><%= follow.name %></td>
        <td><%= follow.lastName %></td>
     </tr>
    <%end %>
  </tbody>
</table>



<% if false %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>

