<%- model_class = User -%>
<div class="wrap">
	<% if @user==current_user %>
		<h1>Bonjour, <%= @user.name %>.</h1>
	<% else %>
		<h1>Profil de <%= @user.name %>.</h1>
	<% end %>
</div>




<%= javascript_include_tag "jquery.Jcrop.min" %>
	<script type="text/javascript" charset="utf-8">

		// Remember to invoke within jQuery(window).load(...)
		// If you don't, Jcrop may not initialize properly
		function() {
		
			$('#jcrop_target').Jcrop({
				onChange: showPreview,
				onSelect: showPreview,
		    	onRelease: hidePreview,
				aspectRatio: 1
			});
		
		  var $preview = $('#preview');
		  // Our simple event handler, called from onChange and onSelect
		  // event handlers, as per the Jcrop invocation above
		  function showPreview(coords)
		  {
		    if (parseInt(coords.w) > 0)
		    {
		      var rx = 100 / coords.w;
		      var ry = 100 / coords.h;
		
		      $preview.css({
		        width: Math.round(rx * 500) + 'px',
		        height: Math.round(ry * 370) + 'px',
		        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
		        marginTop: '-' + Math.round(ry * coords.y) + 'px'
		      }).show();
		    }
		  }
		
		  function hidePreview()
		  {
		    $preview.stop().fadeOut('fast');
		  }
		
		});
	</script>
	
	
	
	
	

<%= render :partial => 'profilinfos' %>

<!--
<div>
<strong>Biographie</strong>
<% if @user == current_user %>
<div><%= best_in_place_if current_user==@user, @user, :biography, :type => :textarea, :nil => "Aucune biographie" %></div>
<% else %>
<div><% if @user.biography.nil? %>Non renseignée<% else %><%=@user.biography%><% end %></div>
<% end %>
</div>

<div>
<strong>Hobbies</strong></br>
<!-- affichage classique -->
<!--<div <% if current_user == @user %>id="currenthobbies" <% end %> >
<% if @user.hobbies.size == 0 %> Aucun hobby <% end %>
<% @user.hobbies.each do |hobby| %>
<span><%= hobby.label %></span>
<% end %>
</div>
<% if current_user == @user %>
<!-- mode edition -->
<!--<div id="hobbiesedit" style="display:none">
<%= form_for @user, url: {action: "update_hobbies"}, html: {id: "form_edit_hobbies"}, method: :get do |f| %>
<%= f.collection_check_boxes :hobby_ids, Hobby.all, :id, :label %>
<%= f.submit 'Valider' %>
<% end %>
</div>
<% end %>
</div>

<table class="table table-hover">
<thead>
<tr>
<% if current_user == @user %>
<td> Les utilisateurs que je suis (follow) </td>
<% else %>
<td> Les utilisateurs que <%= @user.name %> suit </td>
<% end %>
</tr>
</thead>
<tbody>
<%  @user.following.each do |follow| %>
<% username = follow.name + ' ' + follow.lastName %>
<td><%= link_to username, user_path(follow) %></td>
</tr>
<%end %>
</tbody>
</table>
<table class="table table-hover">
<thead>
<tr>
<% if current_user == @user %>
<td> Les utilisateurs qui me suivent </td>
<% else %>
<td> Les utilisateurs qui le suivent </td>
<% end %>
</tr>
</thead>
<tbody>
<%  @user.follower.each do |follow| %>
<tr>
<% username = follow.name + ' ' + follow.lastName %>
<td><%= link_to username, user_path(follow) %></td>
</tr>
<%end %>
</tbody>
</table>

<table class="table table-hover">
<thead>
<tr>
<td> Mes propositions (masquer cette partie pour les autres?)</td>
</tr>
</thead>
<tbody>
<% @user.propositions.each do |proposition| %>
<tr>
<td> <%= proposition.id %> </td>
<td> <%= link_to proposition.comment, proposition_path(proposition) %> </td>
<td> <%= link_to User.find(proposition.user_id).name,user_path(User.find(proposition.user_id)) %> </td>
</tr>
<% end %>
</tbody>
</table>

<% if false %>
<div class="form-actions">
<%= link_to t('.back', :default => t("helpers.links.back")),
users_path, :class => 'btn'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
edit_user_path(@user), :class => 'btn' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
user_path(@user),
:method => 'delete',
:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
:class => 'btn btn-danger' %>
</div>

<% end %>-->					
					<!-- Modal -->
					<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="myModalLabel">Changer de photo de profil</h4>
					      </div>
					      <div class="modal-body">
					      

					      	
					      	
					      	<!-- This is the image we're attaching Jcrop to -->
					<!-- 		<img src="http://jcrop-cdn.tapmodo.com/v0.9.10/demos/demo_files/pool.jpg" id="jcrop_target" />
							<div style="width:100px;height:100px;overflow:hidden;margin-left:5px;">
								<img src="http://jcrop-cdn.tapmodo.com/v0.9.10/demos/demo_files/pool.jpg" id="preview" class='img-circle' />
							</div>			-->		      	
					      	
							<%= form_for @user, :html => { :class => '', :role => 'form', :multipart => true } do |f| %>
								<% if @user.avatar_url=="/assets/image/avatar_profil_default.png"%>
									<img src='/assets/image/thumb_avatar_profil_default.png' alt='Image not found' id="jcrop_target" />
									<div class="pull-right">
										<img src='/assets/image/thumb_avatar_profil_default.png' alt='Image not found' id="preview" class='img-circle' style="width:150px;height:150px;overflow:hidden;margin-left:5px;" />
										<small class="text-muted">Aperçu</small>
									</div>
								<%else%>
									<img src='<%= @user.avatar_url(:thumb).to_s %>' alt='Image not found' />
									<div class="pull-right">
										<img src='<%= @user.avatar_url(:thumb).to_s %>' alt='Image not found' id="preview" class='img-circle' style="width:150px;height:150px;overflow:hidden;margin-left:5px;" />
										<small class="text-muted">Aperçu</small>
									</div>
								<%end%>
								
								<%= f.file_field :avatar, :class => 'file_field', :style => 'display:none' %><br/>
					      
					      </div>
					      <div class="modal-footer">
								<label for="user_avatar" class="btn btn-primary"> Choisir </label>
								<button class="btn btn-danger" >Supprimer</button>
								<%= f.submit nil, :value => "Sauver", :class => 'btn btn-success' %>
								<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					      </div>
				      
					      
					      	<% end %>
					    </div>
					  </div>
					</div>



<div id="page-wrapper">
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-8">
			
			<%= render :partial => 'profilservices' %>
			
			<%= render :partial => 'profiltimeline' %>
		</div>
	</div>
</div>

