<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @address.id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @address.label %>
</p>

<p>
  <strong>X:</strong>
  <%= @address.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @address.y %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
