<h1>Listing treads</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>User</th>
      <th>Hobby</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @treads.each do |tread| %>
      <tr>
        <td><%= tread.subject %></td>
        <td><%= tread.user_id %></td>
        <td><%= tread.hobby_id %></td>
        <td><%= link_to 'Show', tread %></td>
        <td><%= link_to 'Edit', edit_tread_path(tread) %></td>
        <td><%= link_to 'Destroy', tread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tread', new_tread_path %>
