<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @tread.subject %>
</p>

<p>
  <strong>User:</strong>
  <%= @tread.user_id %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @tread.hobby_id %>
</p>

<%= link_to 'Edit', edit_tread_path(@tread) %> |
<%= link_to 'Back', treads_path %>
