<h1>Listing successes</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Urlimagevalidate</th>
      <th>Urlimageunvalidate</th>
      <th>Locked</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @successes.each do |success| %>
      <tr>
        <td><%= success.label %></td>
        <td><%= success.urlImageValidate %></td>
        <td><%= success.urlImageUnvalidate %></td>
        <td><%= success.locked %></td>
        <td><%= success.user %></td>
        <td><%= link_to 'Show', success %></td>
        <td><%= link_to 'Edit', edit_success_path(success) %></td>
        <td><%= link_to 'Destroy', success, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Success', new_success_path %>
