<style type="text/css">
 a, a:focus, a:hover {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}
</style>
<div class="wrap">
	<h1>Notifications</h1>
</div>


<div class="container">
	<div>
	<% dates = @notifications.map {|n| n.date}.uniq %>
	<% dates.sort_by {|d| d}.reverse.each do |d| %>
		<i><%= l(d, format: :day_month_letter) %></i>
		<% notifs = @notifications.select {|n| n.date == d} %>
		<% notifs.sort_by {|n| n.created_at}.reverse.each do |n| %>
		<div>
			<a class="thumbnail" href="<%= n.url %>"><span class="<%= n.glyph_cat %>"></span> &nbsp; &nbsp; <%= n.label %> &nbsp; &nbsp; <small class="text-muted pull-right label label-default"><%= l(n.created_at, format: :h_m) %></small></a>
		</div>
		<% end %>
	<% end %>
	</div>
</div>
