<%= form_for(@proposition) do |f| %>
  <% if @proposition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposition.errors.count, "error") %> prohibited this proposition from being saved:</h2>

      <ul>
      <% @proposition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proposition %><br>
    <%= f.date_select :proposition %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
