<%- model_class = Proposition -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>    	
      <th><%= model_class.human_attribute_name(:isPaid) %></th>
      <th><%= model_class.human_attribute_name(:isAccepted) %></th>
      <th><%= model_class.human_attribute_name(:motifCancelled) %></th>
      <th><%= model_class.human_attribute_name(:proposition) %></th>
      <th><%= model_class.human_attribute_name(:comment) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:service) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
  	<% if not @propositions.nil? %>
    <% @propositions.each do |proposition| %>
      <tr>
      	<td>
	      	<% if proposition.isPaid.nil? %>
				En attente
			<% elsif proposition.isPaid == false %>
				Non
			<% else %>
				Oui
			<% end %>
		</td>
		<td>
	      	<% if proposition.isAccepted.nil? %>
				En attente
			<% elsif proposition.isAccepted == false %>
				Refusée
			<% else %>
				Acceptée
			<% end %>
		</td>
		<td>
	        <% if proposition.motifCancelled.blank? %>
				Pas de motif
			<% else %>
				<%= proposition.motifCancelled %>
			<% end %>
		</td>
        <td><%= proposition.proposition %></td>
	        <td>
	        <% if proposition.comment.blank? %>
				Pas de commentaire
			<% else %>
				<%= proposition.comment %>
			<% end %>
		</td>
		<td>
	        <% if proposition.user.nil? %>
				null
			<% else %>
				<a href="<%= user_path(proposition.user) %>"><%= proposition.user.name %> <%= proposition.user.lastName %></a>
	        <% end %>
        </td>
        <td>
	        <% if proposition.service.nil? %>
				null
			<% else %>
				<a href="<%= service_path(proposition.service) %>"><%= proposition.service.title %></a>
	        <% end %>
		</td>
        <td>
        <% if proposition.user == current_user or proposition.user = proposition.service.user %>
          <%= link_to 'Voir',
                      proposition_path(proposition), :class => 'btn btn-mini' %>
          <% if proposition.user == current_user %>
	          <%= link_to 'Editer',
	                      edit_proposition_path(proposition,:service => proposition.service.id), :class => 'btn btn-mini' %>
	      <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_proposition_path,
            :class => 'btn btn-primary' %>

