
<%- model_class = Proposition -%>
<div class="jumbotron">
	<div class="row">
		<div class="col-lg-8">
<dl class="dl-horizontal" style="float : left">
	<dt><%= model_class.human_attribute_name(:service) %> :</dt>
	<dd><strong>
		<a href="<%= service_path(@proposition.service) %>">
			<%= @proposition.service.title %>
		</a>
	</strong></dd>
	<dt><%= model_class.human_attribute_name(:proposition) %> : </dt>
	<dd><strong><%= @proposition.proposition %></strong></dd>
	<dt><%= model_class.human_attribute_name(:comment) %> : </dt>
	<dd><strong>
	<% if @proposition.comment == nil or @proposition.comment ==''%>
		Pas de commentaire
	<% else %>
		<%= @proposition.comment %>
	<% end %>
	</strong></dd>
	<dt><%= model_class.human_attribute_name(:isAccepted) %> : </dt>
	<dd><strong>
		<% if @proposition.isAccepted == nil %>
			En attente
		<% elsif @proposition.isAccepted == false %>
			Refusée
		<% else %>
			Acceptée
		<% end %>
	</strong></dd>
	<% if @proposition.isAccepted == false %>
		<dt><%= model_class.human_attribute_name(:motifCancelled) %> : </dt>
		<dd><strong>
			<% if @proposition.motifCancelled == nil or @proposition.motifCancelled ==''%>
				Pas de motif
			<% else %>
				<%= @proposition.motifCancelled %>
			<% end %>
		</strong></dd>
	<% end %>
	<dt><%= model_class.human_attribute_name(:isPaid) %> : </dt>
	<dd><strong>
		<% if @proposition.isPaid == nil %>
			En attente
		<% elsif @proposition.isPaid == false %>
			Non
		<% else %>
			Oui
		<% end %>
	</strong></dd>
	<dt><%= model_class.human_attribute_name(:user) %> :</dt>
	<dd><strong>
		<a href="<%= user_path(@proposition.user) %>">
			<%= @proposition.user.name %> <%= @proposition.user.lastName %>
		</a>
	</strong></dd>
</dl>
<div class="form-actions">
	<% if @proposition.user == current_user %>
		<%= link_to t('.edit', :default => t("helpers.links.edit")),
			edit_proposition_path(@proposition,:service => @proposition.service.id), :class => 'btn' %>
	<%end%>
	<%= link_to t('.back', :default => t("helpers.links.back")),
			propositions_path, :class => 'btn btn-small'  %>
</div>
	</div>
	</div>
</div>
