<%= stylesheet_link_tag   "caroussel" %>

<% if not flash[:error].nil? %>
	<div class="col-md-offset-8 text-center alert alert-danger"><%= flash[:error] %></div>
<% end %>

  <h2 style="padding-top:125px; text-align:center;" >Syra vous souhaite la bienvenue!</h2>

<div class="container" style="padding-top:10px; height:auto;" >
  <!-- Une ligne contenant 3 fiches service ;) --> 
  <div class="row">
    <!-- Début d'une fiche service ;) --> 
    <div class="col-xs-12 col-sm-6 col-md-8">

      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-lock"></span> Se connecter</div>
          <div class="panel-body">
            <%= form_for(:session, :url => sessions_path, :html => { :class => 'form-signin', :role => 'form' }) do |f| %>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">
                  Email</label>
                  <div class="col-sm-9">
                    <%= f.text_field :email, :class=>"form-control", :placeholder => "E-mail" %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-3 control-label">
                  Mot de passe</label>
                    <div class="col-sm-9">
                      <%= f.password_field :password, :class=>"form-control", :placeholder => "Mot de passe" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"/>
                          Se souvenir de moi
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group last">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-success btn-sm">
                        Se connecter</button>
                        <button type="reset" class="btn btn-default btn-sm">
                          Se connecter via Facebook</button>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class="panel-footer">
                    Pas encore inscrit? <%= link_to "Se créer un compte", signup_path %></div>
                  </div>
                </div>
              </div>
    <div class="col-xs-6 col-md-4 embed-responsive embed-responsive-16by9"> <iframe width="425" height="340" class="embed-responsive-item" src="http://www.youtube.com/embed/PvlaLXbfSX8" frameborder="0" allowfullscreen></iframe></div>
</div>

<div class="container">
  <div class="row">
    <h2>Services du moment</h2>
  </div>
</div>
<% if @lesServices.size > 0 %>
<div class="carousel-reviews broun-block">
  <div class="container">
<div class="row">
  <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    	<% i = 1 %>
		<% @lesServices.each do |s| %>
		<% if i==1 %>
      <div class="item active">
      	<% elsif i%3==1%>
      <div class="item">
      	<% end %>
      	<% if i%3==2 %>
        	<div class="col-md-4 col-sm-6 hidden-xs">
        <% elsif i%3==0 %>
        	<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
        <% else %>
        	<div class="col-md-4 col-sm-6">
        <% end %>
          <div class="block-text rel zmin">
            <a title="<%= s.title %>" href="<%= service_path(s) %>"><%= truncate(s.title, :length => 20) %></a>
            <div class="mark">
            	<% if 1==1 #!s.note.nil? 
            		%> 
            	Note moyenne : 
            		<% noteService=3 #noteService=s.note.round(1) 
            		%>
            		<% if noteService>=5 %>
						<span class="rating-input">
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            	</span>
					<% elsif noteService>=4 %>
						<span class="rating-input">
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            	</span>
					<% elsif noteService>=3 %>
						<span class="rating-input">
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            	</span>
		            <% elsif noteService>=2 %>
						<span class="rating-input">
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            	</span>
		            <% elsif noteService>=1 %>
						<span class="rating-input">
		            		<span class="glyphicon glyphicon-star"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            	</span>
		            <% else %>
						<span class="rating-input">
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            		<span class="glyphicon glyphicon-star-empty"></span>
		            	</span>
					<% end %>
					<%= noteService %>
            	<% else %>
            		Pas encore noté
            	<% end %>
            </div>
            <p><%= truncate(s.description, :length => 50) %></p>
            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
          </div>
          <div class="person-text rel">
          	<% if s.user.avatar.nil? %>
				<%=image_tag "noavatar.png", :class => "img-circle" %>
			<% else %>
				<%=image_tag "avatars/"+s.user.avatar, :class => "img-circle" %>
			<% end%>
            <a title="<%= s.user.name%>" href="<%= user_path(s.user) %>"><%= s.user.name %></a>
            <i>de <%= s.user.address.ville %></i>
          </div>
        </div>
        
      <% if i%3==0 || i==@lesServices.size%>
      	</div>
      <% end %>
      
      <% i+=1 %>
        
      <% end %>

  </div>
		<a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
</div>
</div>
<% end %>
      </div>
    </div>
  </div>
