<div class="container" style="padding-top:150px" id="Dashboard">
  <div class="panel">
    <h1 class="text-center"><strong>Dashboard</strong></h1>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-bookmark"></span> Accès rapide</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-12 text-center">
                      <a href="#Utilisateurs" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-user"></span><br/>Utilisateurs</a>
                      <a href="#Hobbies" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-heart"></span> <br/>Hobbies</a>
                      <a href="#Services" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-transfer"></span><br/>Services</a>
                      <a href="#Propositions" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span><br/>Propositions</a>
                      <a href="#Avis" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-star-empty"></span><br/>Avis</a>
                      <a href="#Categories" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-folder-open"></span><br/>Catégories</a>
                      <a href="#HP" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-usd"></span><br/>HP</a>
                      <a href="#Reports" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-bell"></span><br/>Reports</a>
                      <a href="#Blog" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-th-list"></span><br/>blog</a>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4" id="Utilisateurs">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-bell"></span> Utilisateurs
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>Utilisateurs enregistrés</strong> : <%=@nbUsers%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-ban-circle"></span> <strong>Utilisateurs bannis</strong> : <%=@nbUsersBanned%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-globe"></span> <strong>Utilisateurs connectés</strong> : <%=@nbUsersConnected%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-star"></span> <strong>Utilisateurs premium</strong> : <%=@nbUsersPremium%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-user"></span> <strong>Top 5 des utilisateurs les plus actifs</strong> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Utilisateur</th><th>Echanges</th></thead>
              <tbody>
              	<% @mapMostActiveUsers.each_with_index do |(user,nbProps),i| %>
                	<tr><td><%=i+1%></td><td><a href="#"><%=user.name%> <%=user.lastName%></a></td><td><%=nbProps%></td></tr>
                <%end%>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-md-4" id="Hobbies">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-bell"></span> Hobbies
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>Hobbies enregistrés</strong> : <%=@nbHobbies%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-user"></span> <strong>Hobbies utilisés</strong> : <%=@nbHobbiesUsed%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span> <strong>Top 5 des hobbies les plus utilisés</strong> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Hobby</th><th>Utilisateurs</th></thead>
              <tbody>
              	<% @mostActiveHobbies.each_with_index do |hobby,i| %>
               	 <tr><td><%=i+1%></td><td><a href="#"><%=hobby.label%></a></td><td><%=hobby.users.length%></td></tr>
                <%end%>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-md-4" id="Services">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-bell"></span> Services
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>Services enregistrés</strong> : <%=@nbServices%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span> <strong>Services actifs</strong> : <%=@nbServicesActive%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-remove"></span> <strong>Services clôturés</strong> : <%=@nbServicesFinished%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-comment"></span> <strong>Top 5 des services les plus utilisés</strong> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Service</th><th>Propositions</th></thead>
              <tbody>
              	<% @mostActiveServices.each_with_index do |service,i| %>
               	 <tr><td><%=i+1%></td><td><a href="#"><%=service.title%></a></td><td><%=service.propositions.length%></td></tr>
                <%end%>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4" id="Propositions">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-bell"></span> Propositions
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>Propositions enregistrées</strong> : <%=@nbPropositions%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span> <strong>Echanges réalisés</strong> : <%=@nbPropositionsRealised%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-question-sign"></span> <strong>Propositions en attente</strong> : <%=@nbPropositionsWaiting%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-remove"></span> <strong>Propositions refusées</strong> : <%=@nbPropositionsRefused%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span> <strong>Top 5 des services les plus réalisés</strong> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Service</th><th>Echanges</th></thead>
              <tbody>
              	<% @mapMostRealisedServices.each_with_index do |(service,nbEchanges),i| %>
                	<tr><td><%=i+1%></td><td><a href="#"><%=service.title%></a></td><td><%=nbEchanges%></td></tr>
                <%end%>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-md-4" id="Avis">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-bell"></span> Avis
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>Avis enregistrés</strong> : <%=@nbOpinions%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-thumbs-up"></span> <strong>Avis &gt 4</strong> : <%=@nbPositiveOpinions%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Avis &lt 2</strong> : <%=@nbNegativeOpinions%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-star"></span> <strong>Top 5 des services les mieux notés</strong> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Service</th><th>Note</th></thead>
              <tbody>
         	 	<% @greatestServices.each_with_index do |service,i| %>
               	 <tr><td><%=i+1%></td><td><a href="#"><%=service.title%></a></td><td><%=service.note%></td></tr>
                <%end%>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-md-4" id="Categories">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-bell"></span> Categories
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>Catégories enregistrées</strong> : <%=@nbCategories%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-user"></span> <strong>Catégories utilisées</strong> : <%=@nbCategoriesUsed%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span> <strong>Top 5 des catégories les plus utilisées</strong> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Catégorie</th><th>Services</th></thead>
              <tbody>
         	 	<% @mostActiveCategories.each_with_index do |category,i| %>
               	 <tr><td><%=i+1%></td><td><a href="#"><%=category.name%></a></td><td><%=category.services.length%></td></tr>
                <%end%>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4" id="HP">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-bell"></span> HP
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>HP enregistrés</strong> : <%=@totalMoney%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-arrow-up"></span> <strong>Prix du service le plus cher </strong> : <%=@mostExpensiveService%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right"></span> <strong>Prix moyen des services </strong> : <%=@avgCostService%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-arrow-down"></span> <strong>Prix du service le moins cher </strong> : <%=@lessExpensiveService%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-minus"></span> <strong>Utilisateurs fauchés</strong> : <%=@nbUsersWithNoFuckinMoney%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-user"></span> <strong>Top 5 des utilisateurs les plus riches</strong> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Utilisateur</th><th>HP</th></thead>
              <tbody>
         	 	<% @FuckingRichUsers.each_with_index do |user,i| %>
               	 <tr><td><%=i+1%></td><td><a href="#"><%=user.name%> <%=user.lastName%></a></td><td><%=user.money%></td></tr>
                <%end%>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-md-4" id="Reports">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-bell"></span> Reports
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>Reports enregistrés</strong> : <%=@nbReports%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-question-sign"></span> <strong>Reports en attente</strong> : <%=@nbReportsWaiting%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-thumbs-up"></span> <strong>Reports utiles</strong> : <%=@nbReportsUsefull%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Reports non concluants</strong> : <%=@nbReportsUseless%> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-user"></span> <strong>Top 5 des meilleurs reporters</strong> <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Utilisateur</th><th>Reports</th><th>Utiles</th></thead>
              <tbody>
         	 	<% @mapMostActiveReporters.each_with_index do |(user,nbUsefullReports),i| %>
               	 <tr><td><%=i+1%></td><td><a href="#"><%=user.name%> <%=user.lastName%></a></td><td><%=user.reports.length%></td><td><%=nbUsefullReports%></td></tr>
                <%end%>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-md-4" id="Blog">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          <h3 class="panel-title"> <span class="glyphicon glyphicon-th-list"></span> Blog
            <a class="pull-right" href="#Dashboard" role="button" title="Retour en haut de la page"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </h3>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-primary btn-lg btn-block" role="button">
             Page d'administration
          </a>
        </div>
         <ul class="list-group">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-stats"></span> <strong>Nombre d'articles</strong> : <%=@nbArticles%>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-comment"></span> <strong>Nombre de commentaires</strong> : <%=@nbComments%> 
          </li>
          <li class="list-group-item">
            <a href="#"><span class="glyphicon glyphicon-plus"></span> Ajouter un article</a>
            <!-- Table -->
            <table class="table table-hover">
              <thead><th>#</th><th>Titre</th><th>Editer</th><th>Supprimer</th></thead>
              <tbody>
                <tr><td>1</td><td><a href="#">Reduction cette semaine</a></td><td><span class="glyphicon glyphicon-edit"></span></td><td><span class="glyphicon glyphicon-remove"></span></td></tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
      
  </div>
  
    <script>
      $(document).ready(function() {
          $('a[href^="#"]').click( function() { // Au clic sur un lien
            var target = $(this).attr('href');
            var offsetNavbar = 130;
            var speed = 500; // Durée de l'animation (en ms)
            $('html, body').animate( { scrollTop: $(target).offset().top-offsetNavbar }, speed ); // Go
            return false;
          });
        });
    </script>