<script type="text/javascript">
$(document).ready(function(){
	$( ".showMore" ).click(function() {
		var container = $(this).parent().next().find("ul");
		container.children().show();
		$(this).hide();
	});
});
</script>

<style type="text/css">
.doNotResize {
	resize:none;
}
.avTreadheight {
	max-height:100px
}
.avReplyHeight {
	max-height:70px
}
body {
	text-align: left;
}
</style>

<h1><%= @hobby.label %></h1>

<% if @canReply %>
	<%= form_for @hobby, url: {action: "toggle_inscription"}, method: :post do |f| %>
	  <%= f.button :submit, class:'btn btn-danger pull-right' do %>
	  	 Se desinscrire
	  <% end %>
	<% end %>
<% else %>
	<%= form_for @hobby, url: {action: "toggle_inscription"}, method: :post do |f| %>
	  <%= f.button :submit, class:'btn btn-success pull-right' do %>
	  	 S'inscrire
	  <% end %>
	<% end %>
<% end %>

<% if @canReply %>
	<div class="container">	
		<div class="form-group col-lg-7">
			<%= form_for(@tread) do |f| %>
			    <%= f.text_area :subject, size:"60x4", maxlength:500, placeholder:"Votre message...",
			    class:'form-control doNotResize' %>
			    <%= f.hidden_field :hobby_id, :value => @hobby.id%>
			    <%= f.button :submit, class:'btn btn-primary pull-right' do %>
				  	 <span class='fa fa-edit'></span> Poster le sujet
				  <%end%>
			<% end %>
		</div>
	</div>
<% end %>

<div class="container">
	
	<% if @treads.empty? %><h2> Aucun message </h2><% end %>
	<% @treads.each do |t| %>
	<div id="<%= t.id %>" class="panel panel-default col-lg-7">
		<div>
			<% if t.user.avatar.nil? %>
				<%=image_tag "noavatar.png", :class => "img-responsive img-thumbnail avTreadHeight" %>
			<%else %>
				<%=image_tag "avatars/"+t.user.avatar, :class => "img-responsive img-thumbnail avTreadHeight" %>
			<%end%>
			<%=t.user.name%> <%=t.user.lastName%> <%=t.subject%>
			<%if time_ago_in_words(t.created_at).end_with?"j"%>
				<i><%=t.created_at.to_formatted_s(:day_month_year)%></i>
			<%else%>
				<i><%=time_ago_in_words(t.created_at)%></i>
			<%end%>
		</div>
		<%if t.replies.length>3%><div class="text-center"><button class="btn btn-default showMore">Afficher plus</button></div><%end%>
		<div>
			<ul>
				<% t.replies.sort_by{|r| r.created_at}.each_with_index do |rep,i| %>
				<li <% if t.replies.length>3 && i<(t.replies.length-3) %>style="display:none;"<%end%>>
					<% if t.user.avatar.nil? %>
						<%=image_tag "noavatar.png", :class => "img-responsive img-thumbnail avReplyHeight" %>
					<%else %>
						<%=image_tag "avatars/"+t.user.avatar, :class => "img-responsive img-thumbnail avReplyHeight" %>
					<%end%>
					<span class="pull-right">
						<%if time_ago_in_words(rep.created_at).end_with?"j"%>
							<i><%=rep.created_at.to_formatted_s(:day_month_year)%></i>
						<%else%>
							<i><%=time_ago_in_words(rep.created_at)%></i>
						<%end%>
					</span>
					<%= rep.user.name+" "+rep.user.lastName %><br/>
					<%= rep.content %>
				</li>
				<% end %>
			</ul>
			<hr>
			<% if @canReply %>
			<div class="col-lg-8">
				<%= form_for(@reply) do |f| %>
				    <%= f.text_area :content, size:"30x3", maxlength:400, placeholder:"Votre message...",
				    class:'form-control doNotResize' %>
				    <%= f.hidden_field :tread_id, :value => t.id%>
				    <%= f.button :submit, class:'btn btn-primary pull-right' do %>
					  	 <span class='fa fa-edit'></span> Poster le message
					  <%end%>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
	<% end %>
</div>
