<style type="text/css">
 .acustom, .acustom:focus, .acustom:hover {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}
 .modal-content-notcenter {
 	text-align: inherit !important;
 }
</style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><strong>Syra</strong> <em>beta</em></a>
		</div>
		
		<% if signed_in? then %>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
			
			<ul class="nav navbar-nav">

				<li class="dropdown">
		          <a href="#" class="dropdown-toggle resetbadgenotif" data-toggle="dropdown"> <i class="fa fa-bullhorn"></i> Notifs 
		          	<% notifs = @notifsctrl %>
		          	<% notifsNotViewed = notifs.select{|n| n.is_checked == false}%>
		          	<% if (notifsNotViewed.length>0) %>
		          		<span id="badgeNotif" class="badge">
		          			<%=notifsNotViewed.length%>
		          		</span>
		          	<%end%>
		          <b class="caret"></b></a>
		          <ul class="dropdown-menu scrollable-menu notifmenu">
		          	<% if (notifs.length==0) %>
		          		<li><a href=#>Aucune notification</a></li>
		          	<%else%>
		          		<% notifsToShow = notifsNotViewed.length>10 ? notifsNotViewed.sort_by {|n| n.created_at}.reverse : notifs.sort_by {|n| n.created_at}.reverse.take(10) %>
						<% notifsToShow.each do |n| %>
							<li <%if n.is_checked==false%>style='background-color:#F0E68C'<%end%>><a href="/<%=n.url%>" class="notifcustom">
								<span class="<%= n.glyph_cat %>"></span> &nbsp;
								<%if time_ago_in_words(n.created_at).end_with?"h" and time_ago_in_words(n.created_at).gsub("Il y a","").sub("h","").to_i>12%>
									<i><%=n.created_at.to_formatted_s(:day_month_year)%></i>
								<%else%>
									<i><%=time_ago_in_words(n.created_at)%></i>
								<%end%>
								&nbsp; <%=n.label%> &nbsp;&nbsp;</a></li>
						<%end%>
						<li id="showallnotifs"><a href="#" data-toggle="modal" data-target="#allnotifs" class="btn btn-primary"> Afficher tout </a></li>
			    	<%end%>
		          </ul>
		        </li>
		        
		        <li class="dropdown user-dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <%= current_user.lastName %> <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="<%= user_path(current_user.id) %>"><i class="fa fa-user"></i> Profil</a></li>
	                <li><a href="#"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span></a></li>
	                <li><a href="#"><i class="fa fa-gear"></i> Param&egrave;tres</a></li>
	                <% if current_user.isAdmin? %>
	                	<li><a href="/administrator"><i class="fa fa-wrench"></i> Administration</a></li>
	                <% end %>
	                <li class="divider"></li>
	                <li><a href="<%=signout_path%>" rel="nofollow" data-method="delete"><i class="fa fa-power-off"></i> D&eacute;connexion</a></li>
	              </ul>
        		</li>
		        
		        <!--<li>
					<a href="<%= user_path(current_user.id) %>">Connecté en tant que <%= current_user.name %> <%= current_user.lastName %></a>
				</li>
				<li>
					<%= link_to "Déconnexion", signout_path, :method => :delete %>
				</li> -->
			</ul>
		</div>

		<% else %>
		<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<!--<li><a href="#about">About</a>
				</li>-->
				<li>
					<%= link_to "Se connecter" , signin_path, :id => "button_id" %>
				</li>
				<li>
					<%= link_to "S'inscrire" , signup_path, :id => "button_id" %>
				</li>
			</ul>
		</div>
		<% end %>

		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<div id="allnotifs" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog toexpandnotifs">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content modal-content-notcenter" >
            <div class="modal-body">
                <div class="wrap">
					<h1>Notifications</h1>
				</div>
				<div class="toexpandnotifs">
				<% unless notifs.nil? %>
					<% dates = notifs.map {|n| n.date}.uniq %>
					<% dates.sort_by {|d| d}.reverse.each do |d| %>
						<i><%= l(d, format: :day_month_letter) %></i>
						<% notifsSelected = notifs.select {|n| n.date == d} %>
						<% notifsSelected.sort_by {|n| n.created_at}.reverse.each do |n| %>
						<div>
							<a class="thumbnail acustom" href="/<%= n.url %>"><span class="<%= n.glyph_cat %> pull-left"></span> &nbsp;&nbsp; <%= n.label %> <small class="text-muted pull-right label label-default"><%= l(n.created_at, format: :h_m) %></small></a>
						</div>
						<% end %>
					<% end %>
				<% end %>
				</div>
            </div>
        </div>
    </div>
</div>