

<div class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
            	<%=image_tag "logo-syra.png", :class => "img-rounded img-responsive" %>
			</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
            	<%= form_for :search, url: header_search_path, method: :get do |f| %>
              <li class="centrer-li">
              	<div class="padding-searchbar">
              		<div class="input-group">
			                <%= f.button :submit, class:'input-group-addon pull-left', :style => 'padding-bottom:10px' do %>
							  	 <span class="glyphicon glyphicon-search" data-toggle="tooltip" data-placement="left" title="Taper sur la touche Entrée une fois votre saisie terminée"></span> 
							<%end%>
						<%= f.text_field :field, :class=>"form-control", :placeholder => "Rechercher des personnes, des services, des hobbies, ...", :style => "width:400px;" %>
              		</div>
              	</div></li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
              	<a data-toggle="modal" data-target="#modalService"><span class="glyphicon glyphicon-plus-sign" style="font-size:35px;">
                </span></a>
              </li>
              <li>
              	<a href="#notif" class="dropdown-toggle handlenotifs" data-toggle="dropdown">
              		<span class="glyphicon glyphicon-bell" style="font-size:35px;"></span>
					<% if (@nbNewNotifs>0) %>
						<span id="badgeNotif" class="badge">
						<%=@nbNewNotifs%>
						</span>
					<%end%></a>
					<ul id="notifications_container" class="dropdown-menu scrollable-menu notifmenu" style="z-index: 1001">
					Chargement...
					</ul>
              </li>
              <li><a href="<%= user_path(current_user.id) %>">
              	<% if current_user.avatar.nil? %>
					<%=image_tag "noavatar.png", :class => "img-circle img-responsive" %>
				<% else %>
					<%=image_tag "avatars/"+current_user.avatar, :class => "img-circle img-responsive" %>
				<% end%>
              	</a></li>
            </ul>
          </div><!--/.nav-collapse -->

        </div>
        <div class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse main-nav">
              <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span> Accueil<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                     <li><%= link_to 'Profil', timeline_path(current_user.id) %></li>
                    <li><%= link_to "Amis", followers_path %></li>
                    <li><a href="#">Évenements</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">À propos de Syra</li>
                    <li><li><%= link_to "Magasin", market_path %></li></li>
                    <li><a href="#">Tutoriel</a></li>
                    <li><%= link_to "Contact", contact_path %></li>
                    <li><a href="#">Paramètres</a></li>
                    <li><%= link_to "Déconnexion", signout_path, :method => :delete %></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-center">
                <li><%= link_to 'Timeline', timeline_path(current_user.id) %></li>
                <li class="services"></li>
                <li><%= link_to 'Mes Services', show_services_path(current_user.id) %></li>
                <li class="divider-vertical"></li>
                <li><%= link_to "Mes propositions", show_propositions_path(current_user.id) %></li>
                <li class="divider-vertical"></li>
                <li><%= link_to "Abonnements", followers_path %></li>
                <li class="divider-vertical"></li>
                <li><%= link_to "Abonnés", followed_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="<%= market_path%>"> <span class="glyphicon glyphicon-star"></span> Premium</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%= render 'layouts/modal_service' %>