<!DOCTYPE html>
<html>
<head>
  <title>Syra</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="../../assets/bootstrap.css">
  <link href="jumbotron.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
<link rel="stylesheet" href="../../assets/bootstrap.min.js">
  <%= csrf_meta_tags %>
</head>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" href="#">Syra</a> -->
				<%= link_to "Syra" , root_path, :class => "navbar-brand" %>
     		</div>
      		<% if signed_in? then %>
			<div class="navbar-collapse collapse">
					<div class="navbar-form navbar-right">
            			<p STYLE="color:#FFFFFF">Connecté en tant que : <%= current_user.name %> <%= current_user.lastName%></p>
						<%= button_to "Déconnexion", signout_path, :method => :delete, :class=>"btn btn-danger" %>
					</div>

				</form>
     		</div><!--/.navbar-collapse-->
      
     		<% else %>
			<div class="navbar-form navbar-right">
				<%= form_for(:session, :url => sessions_path) do |f| %>
				<div class="field">
					<%= f.text_field :email, :placeholder => "Email" %>
					<%= f.password_field :password, :placeholder => "Mot de passe"%>


					<%= f.submit "Se connecter" , class: 'btn btn-success'%>
					<% end %>
					<%= link_to "S'inscrire" , signup_path, :id => "button_id", :class => "btn btn-info" %>
				</div>
     		</div><!--/.navbar-collapse -->
   			<% end %>
		</div>
</div>

<%= yield %>

