<style type="text/css">
.btn-group-wrap {
    text-align: center;
    margin-bottom: 20px;
}
#innocent h4, #criminal h4, #innocent h4 > a, #criminal h4 > a {
	color: #fff;
}
#innocent > .panel {
  background-color: #5cb85c;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
#criminal > .panel {
  background-color: #d9534f;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.expander {
	color: #fff;
}
.expander:hover {
	cursor:pointer;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
	$( ".expander" ).click(function() {
		$id=$(this).data("toexpand");
		$('#'+$id).collapse("toggle");
		if ($(this).hasClass("fa-chevron-up")) {
			$(this).removeClass("fa-chevron-up");
			$(this).addClass("fa-chevron-down");
		} else {
			$(this).removeClass("fa-chevron-down");
			$(this).addClass("fa-chevron-up");
		}
	});
});
</script>

<h1></h1>

<div class="btn-group-wrap">
	  <a href="#unsolved"><button type="button" class="btn btn-info">A Examiner</button></a>
	  <a href="#criminal"><button type="button" class="btn btn-danger">Condamnés</button></a>
	  <a href="#innocent"><button type="button" class="btn btn-success">Acquittés</button></a>
</div>

<div id="unsolved" class="container">
<% @unsolvedCases.each_key do |s| %>
	<div class="panel panel-default container">
		<h4><a href="/services/<%=s.id%>"><%=s.title%> &nbsp; <span class="fa fa-search"></span></a> - 
			([<%=s.user.id%>.] <%=s.user.name%> <%=s.user.lastName%>)
		</h4>
		<% @unsolvedCases[s].each do |r| %>
			<div class="alert <%=r.guilty.nil? ? 'alert-info':(r.guilty? ? 'alert-danger':'alert-success')%>" style="color:#333">
				<a href="/users/<%=r.user.id%>">
					<span> <%=r.created_at.strftime("%d/%m/%y")%> &nbsp; - &nbsp; </span>
					<span> [<%=r.user.id%>.] <%=r.user.name%> <%=r.user.lastName%> &nbsp; - &nbsp; </span>
				</a>
				<span> <%=r.category%> </span>
				<% unless r.content.empty? %>
					<span class="row" style="font-weight:normal !important"> <%=r.content%> </span>
				<% end %>
				<% if r.guilty.nil? %>
					<a href="/report/<%=r.id%>/judge?guilty=yes"><button class="btn btn-danger pull-right">Condamner <span class="fa fa-thumbs-down"></span></button></a>
					<a href="/report/<%=r.id%>/judge?guilty=no"><button class="btn btn-success pull-right">Insuffisant <span class="fa fa-thumbs-up"></span></button></a> <br/>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>
</div>

<div id="criminal" class="container">
<% @criminalCases.each_key do |s| %>
	<div class="panel panel-default container">
		<h4><a href="/services/<%=s.id%>"><%=s.title%> &nbsp; <span class="fa fa-search"></span></a> - 
			([<%=s.user.id%>.] <%=s.user.name%> <%=s.user.lastName%>)
		</h4>
		<div style="text-align: center;" >
			<span class="expander text-center fa fa-chevron-down" data-toexpand="<%=s.id%>"></span>
		</div>
		<div id="<%=s.id%>" class="collapse">
			<% @criminalCases[s].each do |r| %>
				<div class="alert <%=r.guilty.nil? ? 'alert-info':(r.guilty? ? 'alert-danger':'alert-success')%> " style="color:#333">
					<a href="/users/<%=r.user.id%>">
						<span> <%=r.created_at.strftime("%d/%m/%y")%> &nbsp; - &nbsp; </span>
						<span> [<%=r.user.id%>.] <%=r.user.name%> <%=r.user.lastName%> &nbsp; - &nbsp; </span>
					</a>
					<span> <%=r.category%> </span>
					<% unless r.content.empty? %>
						<span class="row" style="font-weight:normal !important"> <%=r.content%> </span>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
</div>


<div id="innocent" class="container">
<% @innocentCases.each_key do |s| %>
	<div class="panel panel-default container">
		<h4><a href="/services/<%=s.id%>"><%=s.title%> &nbsp; <span class="fa fa-search"></span></a> - 
			([<%=s.user.id%>.] <%=s.user.name%> <%=s.user.lastName%>)
		</h4>
		<div style="text-align: center;" >
			<span class="expander text-center fa fa-chevron-down" data-toexpand="<%=s.id%>"></span>
		</div>
		<div id="<%=s.id%>" class="collapse">
			<% @innocentCases[s].each do |r| %>
				<div class="alert <%=r.guilty.nil? ? 'alert-info':(r.guilty? ? 'alert-danger':'alert-success')%> " style="color:#333">
					<a href="/users/<%=r.user.id%>">
						<span> <%=r.created_at.strftime("%d/%m/%y")%> &nbsp; - &nbsp; </span>
						<span> [<%=r.user.id%>.] <%=r.user.name%> <%=r.user.lastName%> &nbsp; - &nbsp; </span>
					</a>
					<span> <%=r.category%> </span>
					<% unless r.content.empty? %>
						<span class="row" style="font-weight:normal !important"> <%=r.content%> </span>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
</div>