<%= form_for @service, :html => { :class => 'form-horizontal', :role => 'form', :multipart => true } do |f| %>
<% if @service.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
	<ul>
		<% @service.errors.messages.values.each do |msg| %>
			<% msg.each do  |m| %>
			<li>
				<%= m %>
			</li>
			<% end %>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<label class="col-sm-2 control-label"> Titre* </label>
	<div class="col-sm-5">
		<%= f.text_field :title, :class => 'text_field' %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Type* </label>
	<div class="col-sm-5">
		<%= f.radio_button :isGiven, true, :checked => true %>
		<%= label :isGiven, 'Je propose un service', :value => true %></br>
		<%= f.radio_button :isGiven, false %>
		<%= label :isGiven, 'Je recherche un service', :value => false %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Catégorie* </label>
	<div class="col-sm-5">
		<%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Sélectionnez la catégorie" %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Description* </label>
	<div class="col-sm-5">
		<%= f.text_area :description, :class => 'form-control' %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Mes disponibilités </label>
	<div class="col-sm-5">
		<%= f.text_area :disponibility, :placeholder => "Lundi : 18h-20h, ..etc", :class => 'form-control' %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Adresse* </label>
	<div class="col-sm-5">
    <%= f.text_field :address_label, :class => 'text_field', :value => current_user.address.label, :id => "addresspicker_map" %>
		<%= link_to_function "Mon adresse", "remplirAdresse()", :class => 'btn btn-primary'%>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Prix* </label>
	<div class="col-sm-5">
		<%= f.number_field :price, :class => 'number_field' %>
	</div>
</div>
<div class="help-block">
	<p class="help-block">Les champs marqués d’un astérisque (*) sont obligatoires. </p>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">

    <%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		services_path, :class => 'btn' %>
	</div>
</div>

<%= f.fields_for :address,@service.address do |adr| %>
  <%= adr.hidden_field :x %>
  <%= adr.hidden_field :y %>
  <%= adr.hidden_field :region %>
  <%= adr.hidden_field :ville %>
<% end %>

<% end %>

<div class='clearfix'>

  <div class='map-wrapper'>
    <label id="geo_label" for="reverseGeocode"> Activer le marqueur pour définir l'adresse du service ? </label>
      <select type=hidden id="reverseGeocode">
        <option value="false" selected>Non</option>
        <option value="true">Oui</option>
      </select>

      <div id="map"></div>
      <div id="legend">Vous pouvez deplacer le marqueur et le déposer à votre Adresse</div>
    </div>
</div>


