<%= form_for @service, :html => { :class => 'form-horizontal', :role => 'form', :multipart => true } do |f| %>
<% if @service.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
	<ul>
		<% @service.errors.messages.values.each do |msg| %>
			<% msg.each do  |m| %>
			<li>
				<%= m %>
			</li>
			<% end %>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<label class="col-sm-2 control-label"> Titre* </label>
	<div class="col-sm-5">
		<%= f.text_field :title, :class => 'text_field' %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Image </label>
	<div class="col-sm-5">
		<%= f.file_field :image, :class => 'file_field' %>
		<%= f.hidden_field :image_cache %>
		<!-- <%= image_tag(@service.image_url(:thumb).to_s) if @service.image? %> -->
	</div>
</div>
<% if @service.image? %>
<div class="form-group">
	<label class="col-sm-2 control-label"> Image temporaire </label>
	<div class="col-sm-5">
		<dd>
			<!-- <a href='<%= @service.image_url(:thumb).to_s%>' target="_blank"><img src='<%= @service.image_url(:thumb).to_s %>' alt='Image not found' /></a> -->
			<img src='<%= @service.image_url(:thumb).to_s %>' alt='Image not found' /> 
		</dd>
	</div>
</div>
<% end %>
<div class="form-group">
	<label class="col-sm-2 control-label"> Type* </label>
	<div class="col-sm-5">
		<%= f.radio_button :isGiven, true, :checked => true %>
		<%= label :isGiven, 'Je propose un service', :value => true %></br>
		<%= f.radio_button :isGiven, false %>
		<%= label :isGiven, 'Je recherche un service', :value => false %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Catégorie* </label>
	<div class="col-sm-5">
		<%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Sélectionnez la catégorie" %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Description* </label>
	<div class="col-sm-5">
		<%= f.text_area :description, :class => 'text_area' %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Mes disponibilités </label>
	<div class="col-sm-5">
		<%= f.text_area :disponibility, :placeholder => "Lundi : 18h-20h, ..etc", :class => 'text_area' %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Adresse* </label>
	<div class="col-sm-5">
		<%= f.text_field :address, :class => 'text_field', :value => current_user.address %>
		<%= link_to_function "Mon adresse", "remplirAdresse()", :class => 'btn btn-primary'%>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label"> Prix* </label>
	<div class="col-sm-5">
		<%= f.number_field :price, :class => 'number_field' %>
	</div>
</div>
<div class="help-block">
	<p class="help-block">Les champs marqués d’un astérisque (*) sont obligatoires. </p>
</div>

<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		services_path, :class => 'btn' %>
	</div>
</div>
<% end %>
