
  <% content_for :head do %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "jquery-ui.min" %>
    <%= javascript_include_tag "googlemap" %>
  	<%= javascript_include_tag "mapservices" %>
    <%= stylesheet_link_tag 'service' %>
  <% end %>
  

<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<%= search_form_for @q, url: index_services_path, html: {:method => 'get'} do |f| %>
  <div class="row">
    <label class="col-sm-2 control-label"> Titre du service </label>
    <div class="col-sm-1">
      <%= f.text_field :title_or_description_cont %>
    </div>
    <div class ="col-sm-2">
      <%= f.submit "rechercher" %>
    </div>

    <div class="col-sm-2">
       <a id="avanced"> Paramètres avancés </a>
    </div>
  </div>
  <div id="avancedparams" hidden="true">
    <div class="row">
    <div class="col-xs-6 .col-sm-3 ">
      <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3"> Catégorie </div>
    </div>  
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3 checkbox">
        <label>
          <input type="checkbox" value="">
            jardinage
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3 checkbox">
        <label>
          <input type="checkbox" value="">
            informatique
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3 checkbox">
        <label>
          <input type="checkbox" value="">
            Aide à domicile
        </label>
      </div>
    </div>
  </div>

  <div class ="col-xs-6 .col-sm-3">
    <div><b>Prix :</b></div><br/>
    <div id="bornes_prix">De <span id="prix_min"></span> à <span id="prix_max"></span> HP</div>
    <div id="slider_prix"></div>
  </div>
</div>
</div>
<% end %>

<script>
$("#avanced").click(function() {
  $( this ).css({
    borderStyle: "inset",
    cursor: "wait"
  });
  $( "#avancedparams" ).slideDown( "fast", function() {
    
    $( "#avanced" ).css( "visibility", "hidden" );
  });
});

jQuery(document).ready(function($){
    // Création d'un slider dans l'élément id slider_prix
    $("#slider_prix").slider({
        range:  true,
        min:    0,          // valeur min
        max:    1000,       // valeur max
        values: [0, 600],   // position des 2 curseurs à l'initialisation
         
        // Action à effectuer lorsqu'on déplace l'un des curseur
        slide: function(event, ui){
            $('#prix_min').html(ui.values[0]);
            $('#prix_max').html(ui.values[1]);
        }
    });
     
    // Initialisation des valeurs numériques au chargement de la page
    $('#prix_min').html($("#slider_prix").slider("values", 0));
    $('#prix_max').html($("#slider_prix").slider("values", 1));
});
 
</script>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:disponibility) %></th>
      <th><%= model_class.human_attribute_name(:isGiven) %></th>
      <th><%= model_class.human_attribute_name(:isFinished) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
  	<% if not @services == nil %>
    <% @services.each do |service| %>
      <tr>
      	<td><%= service.id %></td>
        <td><%= service.title %></td>
        <td><%= service.price %></td>
        <td><%= service.description %></td>
        <td><%= service.disponibility %></td>
        <td><%= service.isGiven %></td>
        <td><%= service.isFinished %></td>
        
        <td>
		<% if service.address.nil?%>
			 null 
		<% else %>
			<%= service.address.label %>
        <% end %>
    	</td>
    	<td>
    	<% if service.category.nil?%>
			null
		<% else %>
			<a href="<%= category_path(service.category) %>"><%= service.category.name %></a>
        <% end %>
        </td>
        <td>
        <% if service.user.nil?%>
			null
		<% else %>
			<a href="<%= user_path(service.user) %>"><%= service.user.name %> <%= service.user.lastName %></a>
        <% end %>
   	 	</td>
   	 	

        <td>
          <%= link_to 'Voir',
                      service_path(service), :class => 'btn btn-mini' %>
          <% if service.user == current_user %>
	          <%= link_to 'Editer',
	                      edit_service_path(service), :class => 'btn btn-mini' %>
	          <%= link_to 'Supprimer',
	                      service_path(service),
	                      :method => :delete,
	                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                      :class => 'btn btn-mini btn-danger' %>
	     <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_service_path,
            :class => 'btn btn-primary' %>
            
          </br>


<%= session[:location] %>
<div id="map">
</div>
