<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:disponibility) %></th>
      <th><%= model_class.human_attribute_name(:isGiven) %></th>
      <th><%= model_class.human_attribute_name(:isFinished) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.title %></td>
        <td><%= service.price %></td>
        <td><%= service.description %></td>
        <td><%= service.disponibility %></td>
        <td><%= service.isGiven %></td>
        <td><%= service.isFinished %></td>
        <td><%= service.address %></td>
    	<td><%= service.category.name %></td>
   	 	<td><%= service.user %></td>
   	 	<% if service.image_url.to_s=="/uploads/service/image/placeholder/default.png"%>
   	 		<td><img src='/uploads/service/image/placeholder/admin_default.png' alt='Image not found' /></td>
   	 	<%else%>
   	 		<td><a href='<%=service.image_url.to_s%>' target="_blank"><img src='<%= service.image_url(:admin).to_s %>' alt='Image not found' /></a></td>
   	 	<%end%>
        <td>
          <%= link_to 'Voir',
                      service_path(service), :class => 'btn btn-mini' %>
          <%= link_to 'Editer',
                      edit_service_path(service), :class => 'btn btn-mini' %>
          <%= link_to 'Supprimer',
                      service_path(service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_service_path,
            :class => 'btn btn-primary' %>
            
</br>
