
  <% content_for :head do %>
    <%= javascript_include_tag "googlemap" %>
  	<%= javascript_include_tag "mapservices" %>
  	<%= javascript_include_tag "service-index" %>
    <%= if params[:commit] == 'rechercher' then stylesheet_link_tag 'servicesAdvanced' else stylesheet_link_tag 'service' end %>
  <% end %>
  

<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<%= search_form_for @q, url: index_services_path, html: {:method => 'get'} do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="input-group custom-search-form">
      <%= f.text_field :title_or_description_cont,:placeholder =>"Chercher un service", :class=>"form-control"%>
       <span class="input-group-btn">
        <%= button_tag( :class =>"btn btn-default",:id =>"recherche") do %>
            <i class="fa fa-search"></i>
        <% end %>
      </span>
    </div>
    </div>

    <div class="col-md-2">
       <a id="avanced" class="btn btn-info"> Recherche avancée </a>
       <a id="avancedClose" class="btn btn-warning"> Fermer la recherche avancée </a>
    </div>
  </div>
  <div id="avancedparams">
    <div class="row">
    <div class="col-xs-1 .col-sm-1"></div>
    <div class="col-xs-2 .col-sm-3" id="check">
      <div class="row">
        <div class="col-md-1"></div>
        </br><div class="col-md-3"> Catégorie </div>
      </div>
      <% @categories = Category.all
        @categories.each do |cat| %>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 checkbox">
          <label>
              <%= check_box_tag "q[category_name_cont_any][]", cat.name, if params[:q] and params[:q][:category_name_cont_any];params[:q][:category_name_cont_any].include?(cat.name) end%>
              <%= cat.name %>
          </label>
        </div>
      </div>
      <% end %> 
   </div>

  <div class="col-xs-2 .col-sm-3">
    </br>
    <div><b> Lieu : </b></div><br/>
    <br/><b><a id="regionB" <% if params[:q] and params[:q][:address_region_cont] and params[:q][:address_region_cont] != 'Selectionner' then%> style="display:none;"<% end %>>Région </a></b>
    <div id="region" <% if params[:q] and params[:q][:address_region_cont] and params[:q][:address_region_cont] != 'Selectionner' then%> style="display:block;"<% end %>>
      <div><b> Region : </b></div><br/>
      <%= f.select :address_region_cont, options_for_select([['Selectionner',''],['Nord-Pas-de-Calais'],['Picardie']], 
      if params[:q] and params[:q][:address_region_cont] then params[:q][:address_region_cont] else 'Selectionner' end) %>
    </div>

    <br/> <br/><B><a id="villeB" <% if params[:q] and params[:q][:address_ville_cont] and params[:q][:address_ville_cont] != '' then%> style="display:none;"<% end %>>Ville</a></B>

    <div id="ville"  <% if params[:q] and params[:q][:address_ville_cont] and params[:q][:address_ville_cont] != '' then%> style="display:block;"<% end %>>
        <div><b> Ville : </b></div><br/>
        <%= f.text_field :address_ville_cont, :id=>'ville_textfield' %>
    </div>
      

  </div>

  <div class ="col-xs-6 .col-sm-2">
    </br><div><b>Prix :</b></div><br/>
    <div id="bornes_prix">De <span id="prix_min"><%= if params[:q] and params[:q][:price_gteq] then params[:q][:price_gteq] else 0 end%></span> à <span id="prix_max"><%= if params[:q] and params[:q][:price_lteq] then params[:q][:price_lteq] else 40 end%></span> HP</div>
    <div class="row">
      <div id="slider_prix" class="col-md-3"></div>
    </div>
    <%= f.hidden_field :price_lteq, :value => if params[:q] and params[:q][:price_lteq] then params[:q][:price_lteq] else 40 end %>
    <%= f.hidden_field :price_gteq, :value => if params[:q] and params[:q][:price_gteq] then params[:q][:price_gteq] else 0 end %> 
    <br/>
    <br/>
    <div class="row">
      <div class ="col-md-2">
        <%= f.submit "rechercher" , :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>

<div class="text-center">
	<%= paginate @services %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Prix (Hp)</th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>Disponibilité</th>
      <th>Mode</th>
      <th>Adresse</th>
      <th>Catégorie</th>
      <th>Utilisateur</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
  	<% if not @services == nil %>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.title %></td>
        <td><%= service.price %></td>
        <td><%= service.description %></td>
        <td><%= service.disponibility %></td>
        <td>
          <% if service.isGiven? %>
            Offre
          <% else %>
            Demande
          <% end %>

        </td>
        
        <td>
		<% if service.address.nil?%>
			 null 
		<% else %>
			<%= service.address.label %>
        <% end %>
    	</td>
    	<td>
    	<% if service.category.nil?%>
			null
		<% else %>
			<a href="<%= category_path(service.category) %>"><%= service.category.name %></a>
        <% end %>
        </td>
        <td>
        <% if service.user.nil?%>
			null
		<% else %>
			<a href="<%= user_path(service.user) %>"><%= service.user.name %> <%= service.user.lastName %></a>
        <% end %>
   	 	</td>
   	 	

        <td>
          <%= link_to 'Voir',
                      service_path(service), :class => 'btn btn-info' %>
          <% if service.user == current_user %>
	          <%= link_to 'Editer',
	                      edit_service_path(service), :class => 'btn btn-warning' %>
	          <%= link_to 'Supprimer',
	                      service_path(service),
	                      :method => :delete,
	                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                      :class => 'btn btn-mini btn-danger' %>
	     <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
<%= link_to 'Nouveau Service', 
            new_service_path,
            :class => 'btn btn-primary' %>
            </div>
</div>
          </br>

<div id="json" style="display:none">
	<%=@services.to_json%>
</div>

<% #session[:location] %>
<div id="map">
</div>
