<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="../../assets/jquery.ui.addresspicker.js"></script>
<% content_for :head do %>
	<%= javascript_include_tag "service-new" %>
<% end %>

<%- model_class = Service -%>

<%
	errorTitle=false
	errorPrice=false
	errorDescription=false
	errorType=false
	errorCategory=false
	errorAddress=false
%>

<!-- Jumbotron -->
<div class="jumbotron">
	<%= form_for @service, :html => { :class => 'form-horizontal', :role => 'form', :multipart => true } do |f| %>
	<% if @service.errors.any? %>
			<% @service.errors.messages.values.each do |msg| %>
				<% msg.each do  |m| %>
					<% 
						if m.include? ("titre" || "title")
							errorTitle = true
						end
						if m.include? ("prix" || "price")
							errorPrice = true
						end
						if m.include? "description"
							errorDescription = true
						end
						if m.include? "type"
							errorType = true
						end
						if m.include? ("catégorie" || "category")
							errorCategory = true
						end
						if m.include? ("adresse" || "address")
							errorAddress = true
						end
					%>
				<% end %>
			<% end %>
	<% end %>
	<div class="row text-left">
        <%= link_to 'Retour', :back , :class => 'btn btn-default'  %>
	</div>	
	<div class="col-md-12">
		<div class="row">
			 <% if errorTitle %>  
			 	<%= f.text_field :title, :style => "border: 1px solid red", :class => 'text_field text-center h1', :value => @service.title, :placeholder => "Titre *",
			 	 :title =>"Ce champs est requis, choisissez bien votre titre !", :data => {:toggle=>"tooltip", :placement => "top"} %>
			 <% else %>
			 	<%= f.text_field :title, :class => 'text_field text-center h1', :value => @service.title, :placeholder => "Titre *",
			 	:title =>"Ce champs est requis, choisissez bien votre titre !", :data => {:toggle=>"tooltip", :placement => "top"} %>
			 <% end %>
		</div>
	</div>
	<div class="row">
	<div class="col-md-3">
		<div class="panel panel-<% if errorType %>danger <% elsif current_user.isPremium?%>warning<% else %>info<% end %>">
			<div class="panel-heading">
				<h3 class="panel-title">
				 	<%= f.select :isGiven, options_for_select([["Je propose", true], ["Je recherche", false]]), :value => @service.isGiven, :prompt => "Sélectionnez le type" %>
					<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Est-ce que vous proposez ce service ou est-ce que vous êtes à la recherche de personnes qui pourront réaliser ce service pour vous? Vous ne pourrez pas le modifier par la suite"></i>
				</h3>
			</div>
			<div class="panel-body">
				<% username = current_user.name + ' ' + current_user.lastName%>
				<div class="avatar-service">
					<% if not current_user.avatar.nil? %>
						<%=image_tag "avatars/"+current_user.avatar, :class => "style_image" %>
					<% else %>
						<%=image_tag "noavatar.png", :class => "style_image" %>
					<% end %>
				</div>
				<%= link_to username, user_path(current_user) %> <i class="fa fa-star"></i> <%= current_user.level.levelUser %><br/>
				<div style="color:#DAA520">
					<% if current_user.isPremium? %>
						Membre premium
					<%end%>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= form_for @service, :html => { :class => 'form-horizontal', :role => 'form', :multipart => true } do |f| %>
					<% if @service.errors.any? %>
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<% @service.errors.messages.values.each do |msg| %>
								<% msg.each do  |m| %>
									<%= m %> <br/>
								<% end %>
							<% end %>
						</div>
					<% end %>
				<% end %>
					<% if errorDescription %>  
						<%= f.text_area :description, :style => "border: 1px solid red", :class => 'form-control text-center p lead', :value => @service.description, :placeholder => "Description *",
				 	:title =>"Ce champs vous permet de décrire votre service, ses limites, vos compétences, etc.", :data => {:toggle=>"tooltip", :placement => "left"} %>
					 <% else %>
					 	<%= f.text_area :description, :class => 'form-control text-center p lead', :value => @service.description, :placeholder => "Description *",
				 	:title =>"Ce champs vous permet de décrire votre service, ses limites, vos compétences, etc.", :data => {:toggle=>"tooltip", :placement => "left"} %>
					 <% end %>
				<div class="row">
					<div class="form-actions">
						<div class="btn-group">
						    <%= f.submit 'Créer ce service', :class => 'btn btn-success' %>
				   		</div>
					</div>
				</div>
				<br />
			</div>
			<div class="panel-footer"> 
				<div class="text-left">
					Propositions reçues :
				</div>
				<div class="panel panel-body">
					Les propositions s'affichent ici.
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Autres informations</h3>
			</div>
				<ul class="list-group">
					<li class="list-group-item <% if errorCategory %>list-group-item-danger<% end %>">
						Dans la catégorie <br />
						<%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Sélectionnez la catégorie", :value => @service.category %>
						<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Détermine dans quelle catégorie apparaitra votre service"></i>
					</li>
					<li class="list-group-item" >
						Ayant pour disponibilité(s) : <br/> 
						<%= f.text_area :disponibility, :placeholder => "Lundi : 18h-20h, ..etc", :value => @service.disponibility, :class => 'form-control',
				 	:title =>"En précisant vos disponibilités, vous recevrez plus de propositions pertinentes", :data => {:toggle=>"tooltip", :placement => "bottom"} %> 
					</li>
					<li class="list-group-item <% if errorAddress %>list-group-item-danger<% end %>">
						Lieu où se déroulera l'échange : 
						<% if not @service.address.nil? %>
							<%= f.text_field :address_label, :class => 'text_field', :style => 'width: 100%', :value => @service.address.label, :id => "addresspicker_map",
				 	:title =>"Ce champs est requis", :data => {:toggle=>"tooltip", :placement => "bottom"} %>
						<% else %>
							<%= f.text_field :address_label, :class => 'text_field', :style => 'width: 100%', :value => "", :id => "addresspicker_map",
				 	:title =>"Ce champs est requis", :data => {:toggle=>"tooltip", :placement => "bottom"} %>
						<% end %>
					</li>
					<li class="list-group-item <% if errorPrice %>list-group-item-danger<% end %>">
						Le prix est de
						<%= f.number_field :price, :class => 'number_field', :style => 'width: 25%', :value => @service.price,
				 	:title =>"Ce champs est requis. C'est le prix que vous demandez si vous proposez le service ou le prix que vous offrirez en échange de ce service si vous le recherchez", :data => {:toggle=>"tooltip", :placement => "bottom"} %>
						<i class="fa fa-heart"></i>
					</li>
				</ul>
			</div>
		</div>
	</div>


<%= f.fields_for :address,@service.address do |adr| %>
  <%= adr.hidden_field :x %>
  <%= adr.hidden_field :y %>
  <%= adr.hidden_field :region %>
  <%= adr.hidden_field :ville %>
<% end %>

<% end %>

<div class="row">
		
    <label id="geo_label" for="reverseGeocode"> Activer le marqueur pour définir l'adresse du service ? </label>
      <select type=hidden id="reverseGeocode">
        <option value="false" selected>Non</option>
        <option value="true">Oui</option>
      </select>

      <div id="map" style="border: 2px solid #e6e6e6"> </div>
      <div id="legend">Vous pouvez deplacer le marqueur et le déposer à votre adresse</div>
    </div>
</div>

<div id="y" style="display:none"><%= current_user.address.y %></div>
<div id="x" style="display:none"><%= current_user.address.x %></div>