<%- model_class = Service -%>
<div class="page-header">
  <h1>Service</h1>
</div>

<dl class="dl-horizontal" style="float : left">
  <dt><strong><%= model_class.human_attribute_name(:title) %> : </strong></dt>
  <dd><%= @service.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isGiven) %> : </strong></dt>
  <dd><%= @service.isGiven %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %> : </strong></dt>
  <dd><%= @service.category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %> : </strong></dt>
  <dd><%= @service.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:disponibility) %> : </strong></dt>
  <% if @service.disponibility.nil? or @service.disponibility=="" %>
  	<dd> Non renseignée  </dd>
  <% else %>
  	<dd><%= @service.disponibility %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:price) %> : </strong></dt>
  <dd><%= @service.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %> : </strong></dt>
  <dd><%= @service.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user) %> : </strong></dt>
  <% if @service.user.nil?  %>
  	<dd> Non renseigné  </dd>
  <% else %>
  	<dd><%= @service.user %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:isFinished) %> : </strong></dt>
  <dd><%= @service.isFinished %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_service_path(@service), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              service_path(@service),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              services_path, :class => 'btn'  %>
</div>